<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">


<hibernate-configuration>
  <session-factory>
    <property name="connection.url">jdbc:postgresql://localhost:5432/Project_db</property>
    <property name="connection.driver_class">org.postgresql.Driver</property>
    <property name="connection.username">postgres</property>
    <property name="connection.password">admin</property>

    <mapping class="RealtorApp.model.entity.Agreement"/>
    <mapping class="RealtorApp.model.entity.Client"/>
    <mapping class="RealtorApp.model.entity.Consultation"/>
    <mapping class="RealtorApp.model.entity.Object"/>
    <mapping class="RealtorApp.model.entity.Requirement"/>
    <mapping class="RealtorApp.model.entity.Facilities"/>
    <mapping class="RealtorApp.model.entity.Facilities"/>



  </session-factory>
</hibernate-configuration>