.root {
    -fx-background-color: #483D8B;
    -fx-background-radius: 28;
}

.mainPain {
    -fx-background-color: linear-gradient(to bottom right, #483D8B, darkmagenta);
    -fx-background-radius: 28;
}

.highlight {
    -fx-background-color: #778899;
    -fx-background-radius: 28;
    -fx-opacity: 0.45;
}

.objectTextField {
    -fx-background-radius: 28;
    -fx-border-width: 3;
    -fx-border-color: black;
    -fx-border-radius: 28;
}

.objectButton {
    -fx-background-radius: 28;
    -fx-border-width: 3;
    -fx-border-color: black;
    -fx-border-radius: 28;
}

.table-view {
    -fx-control-inner-background: #ffffff; /* колір фону таблиці */
    -fx-border-color: #cccccc; /* колір межі таблиці */
}

.table-view .column-header-background {
    -fx-background-color: #f0f0f0; /* колір фону заголовків стовпців */
}


.table-view .table-cell {
    -fx-alignment: center; /* вирівнювання тексту по центру в заголовках та комірках */
    -fx-font-size: 14px; /* розмір шрифту тексту в заголовках та комірках */
}

.table-view {
    -fx-control-inner-background: #ffffff; /* колір фону таблиці */
    -fx-border-color: #cccccc; /* колір межі таблиці */
}

.table-view .column-header-background {
    -fx-background-color: #f0f0f0; /* колір фону заголовків стовпців */
}


.table-view .table-cell {
    -fx-alignment: center; /* вирівнювання тексту по центру в заголовках та комірках */
    -fx-font-size: 14px; /* розмір шрифту тексту в заголовках та комірках */
}

.table-view .column-header {
    -fx-font-size: 14px;
}

.table-view .table-row-cell:odd {
    -fx-background-color: #f5f5f5; /* колір фону непарних рядків таблиці */
}


.table-view .table-row-cell:odd {
    -fx-background-color: #f5f5f5; /* колір фону непарних рядків таблиці */
}

.table-view .table-row-cell:selected {
    -fx-background-color: darkviolet; /* колір фону вибраних рядків таблиці */
}



